.progressVisualFull {
    display: flex;
    height: 10px;
    margin: 20px 0;
    border-radius: 15px;
  }
  
  .progressVisualPart {
    transition: width 2s;
  }
  .progress{
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 0;
  background: #fff;
}

.progressVisualPart {
  border-radius: 15px;
}